section {
    height:auto;
    background-color: white;
    border: solid black 1px;

}

.hero {
    background-color: black;
    height:100vh;
    color: white;
    font-size: 20px;

}

footer {
    height: 500px;
    background-color:black;
    color: white;
    padding: 80px;
}

nav {
    display: flex;
    justify-content: space-between;
    color: white;  
}

ABOUT {
    display: flex;
    color: white;
    justify-content: center;
    
}

WORK {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-around;
}    

CONTACT ME {
    display: flex;
    color: white;
    text-decoration: none;
    justify-content: space-around;
}

h1{
    font-size: 80px;
}

h2{
    font-size: 50px;
}

h3 { 
    font-size:20px;
    justify-content: space-around;
    display: flex; 
}

.hero-text {
    margin-left:80px;
    font-size: 30px;
    line-height: 0;
}

.logo {
    height: 300px;
    margin: 30px;
    border-radius: 150px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding: 80px
}

.project-card {
    width: 250px;
    height:500px;
    border: 1px solid black;
    box-shadow: 5px 5px 10px rgb(38, 77, 78);

}

.container-project {
    display: flex;
    justify-content: space-around;
    padding: 40px;
    
}

.project-image{
    margin-top: 50px;
    width: 250px;
    justify-content: center;   
}

 .project-image:hover { 
    transform: scale(1.5,1.5); 
    z-index:1; 
} 

@media screen and (max-width: 400px) {

.socials { 
    color: white;
    margin: 20px;
  
}

.footer {
text-align:center;

}
}