section {
    height:auto;
    background-color: white;
    border: solid black 1px;

}

a:-webkit-any-link{
    text-decoration: none;
    font-size: x-large;
    color: white;
    justify-content: space-between;
    
}

.hero {
    background-color: black;
    height:auto;
    color: white;
    font-size: 20px;
}

.Icons {

    flex-direction: column;
    justify-content: left;
    justify-content: space-between;
    margin:20px
     

}

footer {
    height: auto;
    background-color:black;
    color: white;
    padding: 80px;
    font-size: 30px;
    text-align:center;
}

nav {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding-top: 25px;
     
}

h1{
    font-size: 80px;
    font-weight: 400;
      
}

h2{
    font-size: 50px;
    /* text-align: right; */
    /* padding-right: 400px;  */
    /* justify-content: space-between;  */
    /* align-items: center; */
    /* vertical-align: bottom; */

    
}

h3 { 
    font-size:25px;
    justify-content: space-around;
    display: flex; 
    margin-bottom: auto;
}

.hero-text {
    font-size: 25px;
    text-align: center;
    padding-top: 40px;
    
    
}

.details {
    flex: auto;
    justify-content: center;
    padding-bottom: 40px;
    padding-left: 50px;
    padding-right: 50px;
}
.logo {
    height: 400px;
    width: 250px;
    justify-content: right;
    
}

.sub-section {
    display: flex;
    justify-content:left;
    font-size: 20px;
}

.subtext {
    text-align: center;
    
    
}

.project-card {
    width: 280px;
    border: 1px solid black;
    box-shadow: 10px 10px 20px rgb(38, 77, 78);

}

.container-project {
    display: flex;
    justify-content: space-around;
    padding: 0px;
    
}

@media only screen and (max-width: 1000px) {
    .container-project { 
        display: flex;
        flex-wrap: wrap;
    }
}

.project-description{
    color: blueviolet;
}

.project-image{
    width: 280px;
    height: 250px;
    justify-content: center;   
}

 .project-image:hover { 
    transform: scale(1.5,1.5); 
    z-index:1; 
} 

.project-link{
    text-decoration:none;
    color:blueviolet
}

hr {
    margin-left: 20px;
    margin-right: 20px;
}
/* @media screen and (max-width: 400px) { */

.button{
    cursor: pointer;
    
}

.socials { 
    color: white;
    margin: 20px;  
    


}